# CMake
build
devel
logs
install
log
.catkin_tools
cmake_build
package.xml

# Rust
rust_build
Cargo.lock

# Python
__pycache__

# IDE
.vscode

# OS
.DS_Store
Thumbs.db

# Interface
onnxruntime
libtorch

# Mujoco
mujoco
MUJOCO_LOG.TXT

# Data
.cache
*.json

# temp
*.zip
*.tgz
*.tar.gz
temp_extract*/

# robot descriptions
# rl_sar_zoo

legged_docs/

tmp/

**.onnx
!libtorch-arm64-2_3_0.zip

# policies
himloco_**/
my_unitree_**/
np3o/
dwq_alpha/
dwq_genesis/
policy**_**.pt
him**_**.pt
dwq**_**.pt
himloco1/
rapid/
ahim**.pt
amp**.pt

# !no
!src/rl_sar/library/thirdparty/third_ws/control_input_msgs/package.xml